<ul>
<li>LinkedIn:<br />
    <i class="fa fa-linkedin"></i>
    <a target="_blank" href="https://www.linkedin.com/companies/{{ node['networq:linkedin:company']['name'] }}">{{ node['networq:linkedin:company']['name'] }}</a>
</li>

</ul>